.bar {
    text-align: left;
    width: 100%;
    display: flex;
    background-color: rgb(241, 147, 58);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bar ul {
    color: white;
}
.bar ul li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 15px;
    font-size: large;
}